//***vdoing主题-样式变量***//

// 以下注释的变量仅供参考，主题使用的最新变量请查看：https://github.com/xugaoyi/vuepress-theme-vdoing/blob/master/theme-vdoing/styles/palette.styl
// 你可以在这个文件内修改这些变量的值

// // 颜色

// $bannerTextColor = #fff // 首页banner区(博客标题)文本颜色
// $accentColor = #11A8CD
// $activeColor = #ff5722
// $arrowBgColor = #ccc
// $badgeTipColor = #42b983
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = #DA5961

// 布局
// $navbarHeight = 3.6rem
$sidebarWidth = 22rem // 左侧边栏宽度
// $contentWidth = 860px
// $homePageWidth = 1100px
// $rightMenuWidth = 230px // 右侧菜单

// // 代码块
// $lineNumbersWrapperWidth = 2.5rem

// // 浅色模式
// .theme-mode-light
//   --bodyBg: #f4f4f4
//   --mainBg: rgba(255,255,255,1)
//   --sidebarBg: rgba(255,255,255,.8)
//   --blurBg: rgba(255,255,255,.9)
//   --textColor: #004050
//   --textLightenColor: #0085AD
//   --borderColor: rgba(0,0,0,.15)
//   // 代码块浅色主题
//   --codeBg: #f6f6f6
//   --codeColor: #525252
//   codeThemeLight()
//   // // 代码块深色主题
//   // --codeBg: #252526
//   // --codeColor: #fff
//   // codeThemeDark()

// // 深色模式
// .theme-mode-dark
//   --bodyBg: rgb(39,39,43)
//   --mainBg: rgba(30,30,34,1)
//   --sidebarBg: rgba(30,30,34,.8)
//   --blurBg: rgba(30,30,34,.8)
//   --textColor: rgb(140,140,150)
//   --textLightenColor: #0085AD
//   --borderColor: #2C2C3A
//   --codeBg: #252526
//   --codeColor: #fff
//   codeThemeDark()

// // 阅读模式
// .theme-mode-read
//   --bodyBg: rgb(240,240,208)
//   --mainBg: rgba(245,245,213,1)
//   --sidebarBg: rgba(245,245,213,.8)
//   --blurBg: rgba(245,245,213,.9)
//   --textColor: #004050
//   --textLightenColor: #0085AD
//   --borderColor: rgba(0,0,0,.15)
//   --codeBg: #282c34
//   --codeColor: #fff
//   codeThemeDark()


// 顶部进度条插件
 $readingBgColor = transparent
 $readingZIndex = 1000
 $readingSize = 3px
 $readingProgressColor = #b160ea
 $readingProgressImage = none


// 代码块样式
.theme-mode-light
  --bodyBg: #f4f4f4
  --mainBg: rgba(255,255,255,1)
  --sidebarBg: rgba(255,255,255,.8)
  --blurBg: rgba(255,255,255,.9)
  --customBlockBg: rgba(255,255,255,.9)
  --textColor: #00323c
  --textLightenColor: #0085AD
  --borderColor: rgba(0,0,0,.15)
  // 代码块浅色主题
  //--codeBg: #f6f8fa
  //--codeColor: #24292e
  //codeThemeLight()
  // 行高亮颜色，和代码块浅色主题一起使用，一起注释
  //div[class*="language-"]
  //  .highlight-lines
  //    .highlighted
  //      background-color rgba(200,200,200,.4)
  //  &.line-numbers-mode
  //    .highlight-lines .highlighted
  //      &:before
  //        background-color rgba(200,200,200,.4)
  // 代码块深色主题
  --codeBg: #282C34
  --codeColor: #D4D4D4
  codeThemeDark()
  // 行高亮颜色，和代码块深色主题一起使用，一起注释
  div[class*="language-"]
    .highlight-lines
      .highlighted
        background-color rgba(0,0,0,.66)
    &.line-numbers-mode
      .highlight-lines .highlighted
        &:before
          background-color rgba(0,0,0,.66)
  div[class*="language-"].line-numbers-mode::after  // 代码块的行数和内容分割线颜色
    border-right 1px solid rgba(0, 0, 0, 0.66)

// artalk 评论框 适配暗黑模式
.theme-mode-dark #vuepress-plugin-vdoing-comment {
  --at-color-bg: --bodyBg;
  color: #ffffff;
  --at-color-font: #ffffff;
  --at-color-bg-transl: --bodyBg;
  --at-color-bg-grey: #373a40
}
.theme-mode-dark #vuepress-plugin-vdoing-comment .atk-editor-plug-emoticons > .atk-grp-switcher > span:hover, .atk-editor-plug-emoticons > .atk-grp-switcher > span.active {
  background: var(--at-color-bg-grey);
}
.theme-mode-dark #vuepress-plugin-vdoing-comment .atk-editor-plug-emoticons > .atk-grp-switcher {
  background: var(--at-color-bg-grey)
}

// meilisearch 样式自定义
$accentDarkColor = #FF85BF
$textDarkColor = #FAFBFE
$borderDarkColor = #352A43